# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon
._*

# Xcode
## User settings
xcuserdata/
*.xcuserstate
*.xcuserdatad/

## Build products & derived data
build/
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Various
*.swp
*.lock
*~.nib
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
Packages/
.swiftpm/

# CocoaPods (if ever used)
Pods/

# Carthage (if ever used)
Carthage/Build/

# Fastlane (if ever used)
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
